aws:
  region: us-east-1
  s3:
    buckets:
      customer: fs-trinadone-customer-test

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/customer
    username: amigoscode
    password: NewYork2004!
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  main:
    web-application-type: servlet

cors:
  allowed-origins: "http://localhost:3000,http://localhost:4200"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "*"
  exposed-headers: "*"


